@model Solomon.WebUI.Areas.TournamentsManagement.ViewModels.BindProblemsToTournamentViewModel
@{
    ViewBag.Title = "Добавить задачи к турниру";
    Layout = "~/Areas/TournamentsManagement/Views/Shared/_Layout.cshtml";
}

<div id="breadcrumb">
    @Html.ActionLink("Главная", "Index", "Home", new { Area = "TournamentsManagement" }, null) > 
    @Html.ActionLink("Турниры", "Index", "Tournament", new { page = 1, pageSize = 25, searchTerm = "", filterBy = "all", area = "TournamentsManagement" }, null) > 
    Добавить задачи к турниру
</div>

<h2>Добавить задачи к турниру</h2>

<p>Выберите задачу из списка доступных задач и нажмите &quot;Привязать&quot; для добавления задачи к турниру.</p>
<p>Выберите задачу из списка привязанных задач и нажмите &quot;Удалить&quot; для удаления задачи из турнира.</p>
<p>Добавление задач к турниру: <span id="tournamentname-to-bind-problems">@Model.TournamentName</span></p>

<fieldset style="float: left; height: 300px;">
    <div id="available">
        <h3>Доступные задачи</h3>
        @Html.DropDownListFor(model => model.AvailableProblems, Model.AvailableProblems, new { @size = "2" })
    </div>
    <div id="bind-controls">
        <button class="button" id="bind-button">Добавить --&gt;</button><br />
        <button class="button" id="unbind-button">&lt;-- Удалить</button>
    </div>
    <div id="bound">
        <h3>Привязанные задачи</h3>
        @Html.DropDownListFor(model => model.BoundProblems, Model.BoundProblems, new { @size = "2" })
    </div>
</fieldset>
<div style="clear:both;"></div>

<script type="text/javascript">
    $(function () {

        /******************************************************
        * Begin Bind/Unbind commands
        ******************************************************/
        var availableList = $("#AvailableProblems");
        var boundList = $("#BoundProblems");

        $("#bind-button").click(function () {
            // First check if any items in the available list
            // are selected.
            if (availableList.val() == null) {
                toastr.info("Пожалуйста, выберите задачу для добавления.");
                return;
            }
            var problemID = availableList.val().toString();

            // Then move the selected list items to the 
            // bound list.
            move_list_items("AvailableProblems", "BoundProblems");

            // Now execute the command using jQuery ajax.
            $.ajax({
                url: '@Url.Action("BindProblemToTournament", "Tournament")',
                dataType: 'json',
                type: 'POST',
                data: { tournamentID: '@Model.TournamentID', problemID: problemID },
                success: OnBoundSuccess,
                error: OnBoundError
            });
        });

        function OnBoundSuccess(data) {
            if (data.Success == true) {
                toastr.success(data.Message);
            }
            else {
                toastr.error(data.Message);
            }
        }

        function OnBoundError(xhr, status, error) {
            alert(error);
        }



        $("#unbind-button").click(function () {
            // First make sure at least one problem in the 
            // bound list is selected to unbind.
            if (boundList.val() == null) {
                toastr.info("Пожалуйста, выберите задачу для удаления.");
                return;
            }
            var problemID = boundList.val().toString();

            // Now move the item back to the Available list.
            move_list_items("BoundProblems", "AvailableProblems");

            // Now execute the command using jQuery ajax.
            $.ajax({
                url: '@Url.Action("UnbindProblemFromTournament", "Tournament")',
                dataType: 'json',
                type: 'POST',
                data: { tournamentID: '@Model.TournamentID', problemID: problemID },
                success: OnUnbindSuccess,
                error: OnUnbindError
            });
        });

        function OnUnbindSuccess(data) {
            if (data.Success == true) {
                toastr.success(data.Message);
            }
            else {
                toastr.error(data.Message);
            }
        }

        function OnUnbindError(xhr, status, error) {
            alert(error);
        }

        // This function moves items from one list to the other.
        function move_list_items(sourceid, destinationid) {
            $("#" + sourceid + "  option:selected").appendTo("#" + destinationid);
        }
        /******************************************************
        * End Bind/Unbind commands
        ******************************************************/



    });
</script>
