<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Solomon</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @if (IsSectionDefined("AddToHead"))
        {
            @RenderSection("AddToHead", required: false)
        }
        @RenderSection("AddToHeadAnotherWay", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    @*<p class="site-title">@Html.ActionLink("Solomon", "Index", "Home")</p>*@
                    <a href="@Url.Action("Index", "Home")" class="no-background"> 
                        <img src="~/Images/logo.png" width="200" height="60" style="border: 0;"/> 
                    </a>
                </div>
                <div class="float-right" style="text-align:center">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @*<nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>*@
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div id="main-content">
                    @RenderBody()
                </div>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <ul id="footer-menu">
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li>@Html.ActionLink("О проекте", "About", "Home")</li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    </ul>
                    <p>&copy; @DateTime.Now.Year - Solomon</p>
                </div>
            </div>
        </footer>
    </body>
</html>
