@model Solomon.WebUI.Models.ResetPasswordModel

@{
    ViewBag.Title = "Восстановление пароля";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<section id="resetPasswordForm">
    <hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<p>Для восстановление пароля укажите Ваш логин.</p>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <div class="row">
            @Html.LabelFor(model => model.UserName)
            <div class="inputs">
                <span class="input_wrapper">@Html.TextBoxFor(model => model.UserName, new { @class = "text" })</span>
                <span class="system negative">@Html.ValidationMessageFor(model => model.UserName)</span>
            </div>
        </div>
        <p>
            <input class="button" type="submit" value="Дальше" />
        </p>
}
</section>